html{
    height: 100vh;
}
.alignFormWithTargetUrl{
    margin-top: 10%;
}
#urlInputForm{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
#displayTargetUrlText{
    margin-top: 2%;
    margin-bottom: 2%;
}
.outputUrlAlignment{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;

}