Options -Indexes
RewriteEngine on
RewriteBase /

RewriteRule ^/?$ /index.php [L]


RewriteRule ^css/ - [L]
RewriteRule ^js/ - [L]
RewriteRule ^DatabaseCommands.php$ - [L]

RewriteRule ^home$ index.php [L]

RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule ^(.*)$ redirect.php [L]

<FilesMatch "env/\.(sh|bat|env)$">
    Order deny,allow
    Deny from all
    Allow from localhost
</FilesMatch>


<FilesMatch "\.inc$">
    Order deny,allow
    Deny from all
    Allow from localhost
</FilesMatch>
