Options -Indexes
RewriteEngine on
RewriteBase /

RewriteRule ^/?$ /index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^deleteUrl$ deleteUrl.php [L]


RewriteRule ^css/ - [L]
RewriteRule ^js/ - [L]

RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/deleteUrl\.php$
RewriteRule ^(.*)$ redirect.php [L]

<FilesMatch "env/\.(sh|bat|env)$">
    Order deny,allow
    Deny from all
    Allow from localhost
</FilesMatch>


<FilesMatch "\.inc$">
    Order deny,allow
    Deny from all
    Allow from localhost
</FilesMatch>
